@import url(https://db.onlinewebfonts.com/c/279518c447b41f01e21d440577ee67aa?family=F29LTZeyn-Regular);
@import url(https://db.onlinewebfonts.com/c/fb0782a2e6139597a7a7b6adaa377f5e?family=F29LTZeyn-Light);

/* Start Variables */
:root {
    --main-color: #E8ABB9;
    --text-main-color: #C3272F;
    --text-secondry-color: #E8ABB9;
    --section-padding: 80px;
    --section-background: hsla(346, 57%, 79%, 0.6);
    --main-duration: 0.5s;
  }
  
  /* End Variables */
  /* Start Global Rules */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  

  body{
    font-family: "F29LTZeyn-Light";
    font-size: 14px;
} 

  html {
    scroll-behavior: smooth;
  }
  
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  /* start component */

  




.special-heading {
    color: var(--text-main-color);
    font-size: 70px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    margin: 0;
}
.special-heading + p {
    margin: 2px 0 0;
    font-size: 22px;
    text-align: center;
    color: var(--text-secondry-color);
    width: 600px;
    margin: 10px auto;
    line-height: 1.8;
}
.special-heading span{
    text-transform: uppercase;
}

/* start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  
  header nav {
    z-index: 1;
    padding-bottom: 15px;
  }
  
  header .container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: space-between;
  }
  
  header .logo {
    z-index: 1;
    display: flex inline;
    align-items: center;
    padding-right: 20px;
     
  }
  
  header .logo img {
    max-width: 100%;
  }

  
  header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  
  }
  
  header nav .toggle-menu {
    color: white;
    font-size: 22px;
  }
  
  
  
  header nav ul {
    display: flex;
    padding-left: 0;
  }
  
  
  header nav ul li a {
  font-family: "F29LTZeyn-Regular";
    color: #FFF;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 25px;
    text-wrap: nowrap;
  
  }
  
  header nav ul li:first-child {
    margin-left: 0;
  }
  
  /* header media */
  
  @media (min-width:767px) {
    header nav .toggle-menu {
      display: none;
    }
  }
  
  
  @media (max-width:767px) {
    header .logo img {
      width: 90px;
    }
  

  
    header nav {
      border-bottom: none;
    }
  
    header nav ul {
      display: none;
    }
  
    header nav .toggle-menu:hover+ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgb(0 0 0 /50%);
  
    }
  
    header nav ul li {
      padding: 15px;
    }
  
  
  }
  
  /* End Header */
  
  /* start landing */
  .landing {
    position: relative;
    min-width: 100%;
    height: 100vh;
    background-image: url(../image/intro.jpg);
    background-color:var(--main-color);
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
  
  }
  
  .landing .overray {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 60%;
    
  }
  
  .landing .container {
    position: relative;
    display: flex;
    height: 100vh;
  }
  
  .landing .intro {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    color: white;
  }
  
  .landing .intro h2 {
    font-size: 50px;
  
    width: 500px;
    margin-bottom: 20px;
  }
  
  .landing .intro p {
    margin: 0 0 40px;
    line-height: 1.8;
    font-size: 18px;
  
  
  }
  
  .landing .intro .btn {
    margin: 0;
  }
  
  .landing .media i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--main-color);
    right: 20%;
    padding: 15px;
    background-color: white;
    border-radius: 50px;
    border: 3px solid #5C6574;
    outline: 5px solid;
  
  }
  
  @media (max-width:767px) {
    .landing .intro {
      padding: 15px;
      width: 100%;
    }
  
    .landing .intro h2 {
      font-size: 30px;
      width: 80%;
  
    }
  
    .landing .media {
      display: none;
    }
  
  }
  
  /* End landing */

  /* Start Delictous  */
  .delicious{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }

.delicious .boxs {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
  
  }

.delicious .boxs .card img{
    height: 280px;
    border-radius: 20px;
    margin: 0 auto;
    max-width: 100%;
  } 


  @media (max-width:767px){
    .delicious{
      padding: 40px 10px;
    }
  
    .delicious .card{
      margin: 10px auto;
    }
    .special-heading {
        font-size: 45px;
        
    }
    .special-heading + p {
        width: 100%;
        line-height: 1;
        text-align: left;
    }
    .delicious .boxs .card img{
        height: 280px;
      }
  }
  /* Start Delictous  */

/* start note */
.note{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
    
}
.note .containt{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;

}
.note .containt img{
    max-width: 100%; 
    border-radius: 30px;  
    margin: 0 auto;
}
.note .containt h3{ 
    font-family: "F29LTZeyn-Regular";
    font-size: 40px;
    color: var(--text-main-color);
    text-transform: capitalize;
  margin: 0;
}
.note .containt p{ 
    margin: auto 0;
    font-size: 35px;
    color: #fff;
    line-height: 1.6;
    
}

@media (max-width:767px) {
  .note{
    padding: 40px 0 ;
  }
  .note .containt{
    display: flex;
    flex-direction: column;

  }
  .note .containt h3{
    font-size: 32px;
    margin-bottom: 10px;
  }

  .note .containt p{
    font-size: 25px;
  }
  
}
/* End note */

/* Start Best Selling Section  */
.best{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.best .boxs {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
 
  gap: 20px;

}

.best .box img{ 
  border-radius: 20px;
  margin: 0 auto;
  max-width: 100%;
}

@media (max-width:767px) {
  .best{
    padding: 40px 10px;
  }
  
}
/* end Best Selling Section  */
